jdbc.default.url=jdbc:postgresql://{{ liferay_database }}:5432/liferay
jdbc.default.driverClassName=org.postgresql.Driver
jdbc.default.username=liferaydb
jdbc.default.password=undertaken by the architect
jdbc.default.idleConnectionTestPeriod=0
jdbc.default.liferay.pool.provider=tomcat
